.s-clock {
    zoom: 2.5;
    -moz-transform: scale(2.5);
    text-align: center;
    align-content: center;s
}
.above-text {
    font-size: 72pt;
    font-family: helvetica;
    text-align: center;
    margin-bottom: 30px;
}
.done-text {
    font-size: 200pt;
    font-family: helvetica;
    text-align: center;
}
.valign {
    vertical-align: middle;
}
.hide {
    display: none!important;
}