.clock {
    display: flex;
    align-items: center;
    justify-content: center;
}
#above-text {
    font-size: 600%;
    font-family: helvetica;
    text-align: center;
    margin-bottom: 130px;
}
.done-text {
    font-size: 1200%;
    font-family: helvetica;
    text-align: center;
}
.valign {
    vertical-align: middle;
}
.hide {
    display: none!important;
}
body {
    overflow: hidden;
}
/*
 * Bottommidle and button taken from W3.css
 * https://www.w3schools.com/w3css/4/w3.css
 */
.bottommiddle {
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
}
.button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.button:disabled {
    cursor:not-allowed;
    opacity:0.3;
}
.button:hover{
    color:#000!important;
    background-color:#ccc!important
}
.optionsbutton {
    font-size: 24px
}
#options {
    width:100%;
    background-color:#333;
    color:#ccc;
    padding: 16px;
    text-align: center;
    font-size: 18px;

}
.optionscontainer {
    text-align: center;
    width: 100%
}
.colonethird {
    width: 33%;
    display: inline-block;
    color: inherit;
    background-color: inherit;
    vertical-align: top;
}
.submitbutton {
    background-color:#2196F3!important;
    color: #fff!important;
    display: block;
    width: 200px;
    height: 75px;
    font-size: 18px;
    margin: 0 auto;
}
.addbutton {
    background-color:#2196F3!important;
    color: #fff!important;
}
.left {
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.mycdscontainer, .mycds {
    height: 100%;
}
.mycdscontainer {
    vertical-align: middle;
}
.optionsxbutton {
    margin-left: auto;
    display:block;
    margin-right: 16px
}
.mycds {
    background-color: #333;
    color: #ccc;
    padding: 24px;
    overflow-y: auto;
}
#mycdsbutton {
    display: block;
    position: relative;
    top: 50%;

}
#mcdslist li a {
    color: #ccc;
    text-decoration: none;
}
#mcdlist {
    list-style: none!important;
}
.delbtn {
    color: red!important;
}

@media (max-width: 600px) {
    .mobile, .colonethird, .mycdscontainer {
        display:block!important;
        width:100%!important;
    }
    .optionscontainer {
        background-color: #333;
    }
    #above-text {
        font-size: 350%!important;
    }
    #done-container {
        font-size: 450%!important;
    }
    .clock {
        transform: scale(0.9)!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}